<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    {% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-注册</title>
{#	<link rel="stylesheet" type="text/css" href="css/reset.css">#}
{#	<link rel="stylesheet" type="text/css" href="css/main.css">#}
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link href="{% static 'reset.css' %}" rel="stylesheet">
    <link href="{% static 'index.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
</head>
<body>
	<div class="register_con">
		<div class="l_con fl">
			<a href="{% url 'index' %}" class="reg_logo"><img src="{% static '' %}images/logo02.png"></a>
			<div class="reg_slogan">足不出户  ·  新鲜每一天</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>找回密码</h1>
				<a href="{% url 'login' %}">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url 'checksms' %}" method="post" id="regform">
                {% csrf_token %}
				<ul>
					<li>
						<label>用户名</label>
						<input type="text" name="username" id="user_name">
						<span class="error_tip">{{ form.username.errors }}</span>
					</li>
					<li>
						<label>新密码</label>
						<input type="password" name="password1" id="pwd">
						<span class="error_tip">{{ form.password1.errors }}</span>
					</li>
					<li>
						<label>手机号</label>
						<input type="text" name="tel" id="inp-code">
{#						<span class="error_tip">{{ form.password2.errors }}</span>#}
					</li>
                    <li style="margin-bottom: -32px;margin-top: -20px">
                        <button type="button" id="btnGetCode" style="padding-top: 2px;font-size: 15px;text-align: center;display:inline-block;width:100px;height:30px;background: darkgrey;position: relative;left: 70px;border: none">获取验证码</button>
					</li>
					<li>
						<label>验证码</label>
						<input type="text" name="smscode" id="smscode" placeholder="请输入验证码">
{#						<span class="error_tip">{{ form.email.errors }}</span>#}
					</li>
					<li class="reg_sub">
						<input type="submit" id="order_btn" value="确 定 提 交" name="">
					</li>
				</ul>
				</form>
			</div>

		</div>

	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script>
        $('#btnGetCode').click(function () {
            $.ajax({
                url: '{% url "get_code" %}',
                type: 'post',
                {# 异步请求中携带csrftoken #}
                headers: {
                    'X-CSRFTOKEN': $.cookie('csrftoken')
                },
                data: {tel: $('#inp-code').val()},
                success: function (res) {
                    if(res.ok) {
                        alert('发送成功')
                    } else {
                        alert('发送失败')
                    }
                }
            })
        })
        $('#regform').submit(function (e) {
            $.ajax({
                url: "{% url 'checksms' %}",
                type: 'POST',
                headers: {
                    'X-CSRFTOKEN': $.cookie('csrftoken')
                },
                data: $(this).serialize(),
                success: function (res) {
                    console.log(res)
                    if(res.ok) {
                        alert('密码修改成功！！')
                        location.assign({% url 'login' %})
                    } else {
                        alert('密码修改失败！！')
                    }
                }
            })
            e.preventDefault()
         })
    </script>
</body>
</html>