<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}继承的base本体{% endblock title %}</title>

    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link href="{% static 'reset.css' %}" rel="stylesheet">
    <link href="{% static 'index.css' %}" rel="stylesheet">

{#    <link href="{% static 'D:\Gjango\Fresheveryday\rendhtml\static\images' %}" rel="stylesheet">#}


    <script type="text/javascript" src="{% static 'js\jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js\jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js\jquery.cookie.js' %}"></script>

{#	<script type="text/javascript" src="{% static 'js\slide.js' %}"></script>#}

</head>
<body>

<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎 {% if user.is_authenticated %}<span style="color: red"> {{ user.username }}</span>{% endif %} 来到天天生鲜!
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="back" style="color: red"> 退出</a>
            {% endif %}
        </div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：
                <em>张 山</em>
            </div>
            <div class="login_btn fl">
                {% if user.is_authenticated %}
                {% else %}
                <a href="{% url 'login' %}">登录</a>
                <span>|</span>
                <a href="{% url 'register' %}">注册</a>
                {% endif %}
            </div>
            <div class="user_link fl">
                {% if user.is_authenticated %}
                {% else %}
                <span>|</span>
                {% endif %}
                <a href="{% url 'user_center_info' %}">用户中心</a>
                <span>|</span>
                <a href="{% url 'cart' %}">我的购物车</a>
                <span>|</span>
                <a href="{% url 'user_center_order' %}">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="{% url 'index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
    <div class="search_con fl">
        <form action="{% url 'list' %}" method="get">
        <input type="text" class="input_text fl" name="keyword" placeholder="搜索商品">
        <input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="{% url 'cart' %}" class="cart_name fl">我的购物车</a>
        {% if user.is_authenticated %}
        <div class="goods_count fl" id="show_count">{{ usercartnumber.number__sum }}</div>
        {% else %}
        <div class="goods_count fl" id="show_count">0</div>
        {% endif %}
    </div>
</div>

{% block content %}{% endblock content %}
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888    京ICP备*******8号</p>
</div>

{#<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->#}
{#<script src="{% static 'js/jquery-3.3.1.js' %}"></script>#}
{#<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->#}
{#<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>#}
</body>
</html>